.counter-button--small {
  font-size: 0.5rem;
  padding: 4px 8px;
}

.counter-button--medium {
  font-size: 0.7rem;
  padding: 6px 10px;
}

.counter-button--large {
  font-size: 1rem;
  padding: 8px 12px;
}

.counter-button1 {
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}

.counter-button2 {
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: 500;
  height: 4em;
  padding: 0 1.6em;
  text-align: center;
  text-shadow: #000 0 3px 8px;
  transition: all 0.5s;
  touch-action: manipulation;
}

.counter-button2:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1 30px;
  transition-duration: all 0.1s;
}
