.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &--contained {
    border: none;
    background-color: #24a6f0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.9;
      transform: scale(1.05);
    }

    &:active {
      opacity: 1;
      transform: scale(0.9);
    }

    svg {
      height: 16px;
      width: 16px;
      stroke-width: 0.7;
    }
  }

  &--outlined {
    border: 1px solid #24a6f0;
    background-color: #fff;
    color: #24a6f0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.9;
      transform: scale(1.05);
    }

    &:active {
      opacity: 1;
      transform: scale(0.95);
    }
  }
}

.small {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
}

.medium,
.large {
  font-size: 14px;
  font-weight: bold;
  padding: 15px 40px;
}

.large {
  font-size: 24px;
  padding: 20px 40px;
}
